

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Jour_ferier/index">Index Jour_ferier</a></li>
                        <li><a href="{$url_base}Jour_ferier/add">Ajout Jour_ferier</a></li>
                        <li><a href="{$url_base}Jour_ferier/getID/1">Get id Jour_ferier 1</a></li>
                        <li><a href="{$url_base}Jour_ferier/liste">Liste Jour_ferier </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Jour_ferier/update">
     <input class="form-control" type="hidden" name="id"  value="{if isset($jour_ferier)} {$jour_ferier['id']}{else}0{/if}"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">fiche_jour_id de jour_ferier</label>

         <select name="fiche_jour_id"  class="form-control champ" id="fiche_jour_id">   

                        <option  value="{if isset($jour_ferier)} {$jour_ferier['fiche_jour_id']}{else}0{/if}" selected>fiche_jour_id de jour_ferier</option>
         {if isset($fiche_de_jours_feriers)}    
                    {foreach from=$fiche_de_jours_feriers item=champ}

                        <option  value={$champ['id']}>fiche_de_jours_ferier id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">date_jour de jour_ferier</label>

     <input class="form-control" type="date" name="date_jour"  value="{if isset($jour_ferier)} {$jour_ferier['date_jour']}{else}0{/if}"  id="date_jour"  placeholder="date_jour"   />

          </div>



          <div class="form-group">

                        <label class="control-label">description de jour_ferier</label>

     <textarea rows="5" name="description"  id="description" > {if isset($jour_ferier)} {$jour_ferier['description']}{else} {/if} </textarea>

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Jour_ferier/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

