

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Equipe_projet/index">Index Equipe_projet</a></li>
                        <li><a href="{$url_base}Equipe_projet/add">Ajout Equipe_projet</a></li>
                        <li><a href="{$url_base}Equipe_projet/getID/1">Get id Equipe_projet 1</a></li>
                        <li><a href="{$url_base}Equipe_projet/liste">Liste Equipe_projet </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Equipe_projet/update">
     <input class="form-control" type="hidden" name="id"  value="{if isset($equipe_projet)} {$equipe_projet['id']}{else}0{/if}"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">id_projet de equipe_projet</label>

         <select name="id_projet"  class="form-control champ" id="id_projet">   

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_projet']}{else}0{/if}" selected>id_projet de equipe_projet</option>

                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_projet']}{else}0{/if}" selected>id_projet de equipe_projet</option>

                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_projet']}{else}0{/if}" selected>id_projet de equipe_projet</option>
         {if isset($projets)}    
                    {foreach from=$projets item=champ}

                        <option  value={$champ['id']}>projet id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">id_equipe de equipe_projet</label>

         <select name="id_equipe"  class="form-control champ" id="id_equipe">   

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_equipe']}{else}0{/if}" selected>id_equipe de equipe_projet</option>

                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_equipe']}{else}0{/if}" selected>id_equipe de equipe_projet</option>
         {if isset($equipes)}    
                    {foreach from=$equipes item=champ}

                        <option  value={$champ['id']}>equipe id {$champ['id']}</option>
                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_equipe']}{else}0{/if}" selected>id_equipe de equipe_projet</option>
         {if isset($equipes)}    
                    {foreach from=$equipes item=champ}

                        <option  value={$champ['id']}>equipe id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">id_chef_equipe de equipe_projet</label>

         <select name="id_chef_equipe"  class="form-control champ" id="id_chef_equipe">   

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_chef_equipe']}{else}0{/if}" selected>id_chef_equipe de equipe_projet</option>
         {if isset($personnes)}    
                    {foreach from=$personnes item=champ}

                        <option  value={$champ['id']}>personne id {$champ['id']}</option>
                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_chef_equipe']}{else}0{/if}" selected>id_chef_equipe de equipe_projet</option>
         {if isset($personnes)}    
                    {foreach from=$personnes item=champ}

                        <option  value={$champ['id']}>personne id {$champ['id']}</option>
                                  {/foreach}
                          {/if}

                        <option  value="{if isset($equipe_projet)} {$equipe_projet['id_chef_equipe']}{else}0{/if}" selected>id_chef_equipe de equipe_projet</option>
         {if isset($personnes)}    
                    {foreach from=$personnes item=champ}

                        <option  value={$champ['id']}>personne id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">nbr_membre de equipe_projet</label>

     <input class="form-control" type="number" name="nbr_membre"  value="{if isset($equipe_projet)} {$equipe_projet['nbr_membre']}{else}0{/if}"  id="nbr_membre"  placeholder="nbr_membre"   />

          </div>



          <div class="form-group">

                        <label class="control-label">cout_equipe de equipe_projet</label>

     <input class="form-control" type="number" name="cout_equipe"  value="{if isset($equipe_projet)} {$equipe_projet['cout_equipe']}{else}0{/if}"  id="cout_equipe"  placeholder="cout_equipe"   />

          </div>



          <div class="form-group">

                        <label class="control-label">info_equipe de equipe_projet</label>

     <textarea rows="5" name="info_equipe"  id="info_equipe" > {if isset($equipe_projet)} {$equipe_projet['info_equipe']}{else} {/if} </textarea>

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Equipe_projet/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

