

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page add</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Personne_presente/index">Index Personne_presente</a></li>
                        <li><a href="{$url_base}Personne_presente/add">Ajout Personne_presente</a></li>
                        <li><a href="{$url_base}Personne_presente/getID/1">Get id Personne_presente 1</a></li>
                        <li><a href="{$url_base}Personne_presente/liste">Liste Personne_presente </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Personne_presente/add">
     <input class="form-control" type="hidden" name="id"  value="0"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">id_fiche de personne_presente</label>

         <select name="id_fiche"  class="form-control champ" id="id_fiche">   

         {if isset($fiche_de_presenses)}    
                    {foreach from=$fiche_de_presenses item=champ}

                        <option  value={$champ['id']}>fiche_de_presense id {$champ['id']}</option>
                                  {/foreach}
                          {/if}

         {if isset($fiche_de_presenses)}    
                    {foreach from=$fiche_de_presenses item=champ}

                        <option  value={$champ['id']}>fiche_de_presense id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">id_personne de personne_presente</label>

         <select name="id_personne"  class="form-control champ" id="id_personne">   


                                  {/foreach}
                          {/if}

         {if isset($personnes)}    
                    {foreach from=$personnes item=champ}

                        <option  value={$champ['id']}>personne id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">heur_depart de personne_presente</label>

     <input class="form-control" type="time" name="heur_depart"  value=""  id="heur_depart"  placeholder="heur_depart"   />

          </div>



          <div class="form-group">

                        <label class="control-label">heur_arrive de personne_presente</label>

     <input class="form-control" type="time" name="heur_arrive"  value=""  id="heur_arrive"  placeholder="heur_arrive"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nbr_heur de personne_presente</label>

     <input class="form-control" type="time" name="nbr_heur"  value="0"  id="nbr_heur"  placeholder="nbr_heur"   />

          </div>



          <div class="form-group">

                        <label class="control-label">present de personne_presente</label>

     <input class="form-control" type="number" name="present"  value="0"  id="present"  placeholder="present"   />

          </div>

                  <div class="form-group">
                         <input class="btn btn-success" type="submit" name="valider" value="Envoyer"/>
                         <input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

