

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page add</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Catalogue/index">Index Catalogue</a></li>
                        <li><a href="{$url_base}Catalogue/add">Ajout Catalogue</a></li>
                        <li><a href="{$url_base}Catalogue/getID/1">Get id Catalogue 1</a></li>
                        <li><a href="{$url_base}Catalogue/liste">Liste Catalogue </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Catalogue/add">
     <input class="form-control" type="hidden" name="id"  value="0"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">ref_article de catalogue</label>

     <input class="form-control" type="text" name="ref_article"  value=""  id="ref_article" required placeholder="ref_article"   />

          </div>



          <div class="form-group">

                        <label class="control-label">type_article de catalogue</label>

     <input class="form-control" type="text" name="type_article"  value=""  id="type_article"  placeholder="type_article"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_article de catalogue</label>

     <input class="form-control" type="text" name="nom_article"  value=""  id="nom_article" required placeholder="nom_article"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_service de catalogue</label>

     <input class="form-control" type="text" name="nom_service"  value=""  id="nom_service"  placeholder="nom_service"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_famille de catalogue</label>

     <input class="form-control" type="text" name="nom_famille"  value=""  id="nom_famille"  placeholder="nom_famille"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_categorie de catalogue</label>

     <input class="form-control" type="text" name="nom_categorie"  value=""  id="nom_categorie"  placeholder="nom_categorie"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nomenclature_article de catalogue</label>

     <input class="form-control" type="text" name="nomenclature_article"  value=""  id="nomenclature_article"  placeholder="nomenclature_article"   />

          </div>

                  <div class="form-group">
                         <input class="btn btn-success" type="submit" name="valider" value="Envoyer"/>
                         <input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

