

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Cordonnees/index">Index Cordonnees</a></li>
                        <li><a href="{$url_base}Cordonnees/add">Ajout Cordonnees</a></li>
                        <li><a href="{$url_base}Cordonnees/getID/1">Get id Cordonnees 1</a></li>
                        <li><a href="{$url_base}Cordonnees/liste">Liste Cordonnees </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($cordonneess) && $cordonneess != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Cordonnees</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Personne_id</th>
                                 <th>Adress</th>
                                 <th>Tel</th>
                                 <th>Email_personne</th>
                                 <th>Codepostal</th>
                                 <th>Contact_urgent</th>
                                 <th>Etat_civile</th>
                                 <th>Nbr_conjoint</th>
                                 <th>Nbr_enfant</th>
                                 <th>Info_conjoint</th>
                                 <th>Flag_contact</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$cordonneess item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["personne_id"]}</td>
                                 <td>{$obj["adress"]}</td>
                                 <td>{$obj["tel"]}</td>
                                 <td>{$obj["email_personne"]}</td>
                                 <td>{$obj["codepostal"]}</td>
                                 <td>{$obj["contact_urgent"]}</td>
                                 <td>{$obj["etat_civile"]}</td>
                                 <td>{$obj["nbr_conjoint"]}</td>
                                 <td>{$obj["nbr_enfant"]}</td>
                                 <td>{$obj["info_conjoint"]}</td>
                                 <td>{$obj["flag_contact"]}</td>
                                    <td><a href="{$url_base}Cordonnees/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Cordonnees/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

