

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page add</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}V_prd_details/index">Index V_prd_details</a></li>
                        <li><a href="{$url_base}V_prd_details/add">Ajout V_prd_details</a></li>
                        <li><a href="{$url_base}V_prd_details/getID/1">Get id V_prd_details 1</a></li>
                        <li><a href="{$url_base}V_prd_details/liste">Liste V_prd_details </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}V_prd_details/add">

          <div class="form-group">

                        <label class="control-label">idc de v_prd_details</label>

     <input class="form-control" type="number" name="idc"  value="0"  id="idc"  placeholder="idc"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nomc de v_prd_details</label>

     <input class="form-control" type="text" name="nomc"  value=""  id="nomc"  placeholder="nomc"   />

          </div>



          <div class="form-group">

                        <label class="control-label">desi de v_prd_details</label>

     <input class="form-control" type="text" name="desi"  value=""  id="desi"  placeholder="desi"   />

          </div>



          <div class="form-group">

                        <label class="control-label">img de v_prd_details</label>

     <input class="form-control" type="file" name="img"  value=""  id="img"  placeholder="img"   />

          </div>



          <div class="form-group">

                        <label class="control-label">idp de v_prd_details</label>

     <input class="form-control" type="number" name="idp"  value="0"  id="idp"  placeholder="idp"   />

          </div>



          <div class="form-group">

                        <label class="control-label">idcp de v_prd_details</label>

     <input class="form-control" type="number" name="idcp"  value="0"  id="idcp"  placeholder="idcp"   />

          </div>



          <div class="form-group">

                        <label class="control-label">pxa de v_prd_details</label>

     <input class="form-control" type="number" name="pxa"  value="0"  id="pxa"  placeholder="pxa"   />

          </div>



          <div class="form-group">

                        <label class="control-label">pxv de v_prd_details</label>

     <input class="form-control" type="number" name="pxv"  value="0"  id="pxv"  placeholder="pxv"   />

          </div>



          <div class="form-group">

                        <label class="control-label">qnt de v_prd_details</label>

     <input class="form-control" type="number" name="qnt"  value="0"  id="qnt"  placeholder="qnt"   />

          </div>



          <div class="form-group">

                        <label class="control-label">flag de v_prd_details</label>

     <input class="form-control" type="number" name="flag"  value="0"  id="flag"  placeholder="flag"   />

          </div>



          <div class="form-group">

                        <label class="control-label">idcat de v_prd_details</label>

     <input class="form-control" type="number" name="idcat"  value="0"  id="idcat"  placeholder="idcat"   />

          </div>



          <div class="form-group">

                        <label class="control-label">idfam de v_prd_details</label>

     <input class="form-control" type="number" name="idfam"  value="0"  id="idfam"  placeholder="idfam"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nomcat de v_prd_details</label>

     <input class="form-control" type="text" name="nomcat"  value=""  id="nomcat"  placeholder="nomcat"   />

          </div>



          <div class="form-group">

                        <label class="control-label">achat de v_prd_details</label>

     <input class="form-control" type="number" name="achat"  value="0"  id="achat"  placeholder="achat"   />

          </div>



          <div class="form-group">

                        <label class="control-label">vente de v_prd_details</label>

     <input class="form-control" type="number" name="vente"  value="0"  id="vente"  placeholder="vente"   />

          </div>



          <div class="form-group">

                        <label class="control-label">compt de v_prd_details</label>

     <input class="form-control" type="number" name="compt"  value="0"  id="compt"  placeholder="compt"   />

          </div>



          <div class="form-group">

                        <label class="control-label">idfa de v_prd_details</label>

     <input class="form-control" type="number" name="idfa"  value="0"  id="idfa"  placeholder="idfa"   />

          </div>



          <div class="form-group">

                        <label class="control-label">fdesi de v_prd_details</label>

     <input class="form-control" type="text" name="fdesi"  value=""  id="fdesi"  placeholder="fdesi"   />

          </div>



          <div class="form-group">

                        <label class="control-label">color de v_prd_details</label>

     <input class="form-control" type="color" name="color"  value=""  id="color"  placeholder="color"   />

          </div>

                  <div class="form-group">
                         <input class="btn btn-success" type="submit" name="valider" value="Envoyer"/>
                         <input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

