

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Stock/index">Index Stock</a></li>
                        <li><a href="{$url_base}Stock/add">Ajout Stock</a></li>
                        <li><a href="{$url_base}Stock/getID/1">Get id Stock 1</a></li>
                        <li><a href="{$url_base}Stock/liste">Liste Stock </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Stock/update">
     <input class="form-control" type="hidden" name="id"  value="{if isset($stock)} {$stock['id']}{else}0{/if}"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">id_service de stock</label>

         <select name="id_service"  class="form-control champ" id="id_service">   

                        <option  value="{if isset($stock)} {$stock['id_service']}{else}0{/if}" selected>id_service de stock</option>
         {if isset($services)}    
                    {foreach from=$services item=champ}

                        <option  value={$champ['id']}>service id {$champ['id']}</option>
                                  {/foreach}
                          {/if}
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">nom_stock de stock</label>

     <input class="form-control" type="text" name="nom_stock"  value="{if isset($stock)} {$stock['nom_stock']}{else} {/if}"  id="nom_stock"  placeholder="nom_stock"   />

          </div>



          <div class="form-group">

                        <label class="control-label">type_stock de stock</label>

     <input class="form-control" type="text" name="type_stock"  value="{if isset($stock)} {$stock['type_stock']}{else} {/if}"  id="type_stock"  placeholder="type_stock"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nbrarticle de stock</label>

     <input class="form-control" type="number" name="nbrarticle"  value="{if isset($stock)} {$stock['nbrarticle']}{else}0{/if}"  id="nbrarticle"  placeholder="nbrarticle"   />

          </div>



          <div class="form-group">

                        <label class="control-label">valeur de stock</label>

     <input class="form-control" type="number" name="valeur"  value="{if isset($stock)} {$stock['valeur']}{else}0{/if}"  id="valeur"  placeholder="valeur"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Stock/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

