

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Tache/index">Index Tache</a></li>
                        <li><a href="{$url_base}Tache/add">Ajout Tache</a></li>
                        <li><a href="{$url_base}Tache/getID/1">Get id Tache 1</a></li>
                        <li><a href="{$url_base}Tache/liste">Liste Tache </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


				<div class="row">
					<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
				{if isset($taches)}
					{if $taches != null}
						<table class="table table-bordered table-stripped">
			                <caption  > LISTE DE Tache</caption>
							<tr>
								<th>Id_projet</th>
								<th>Nom_tache</th>
								<th>Ls_membre_tache</th>
								<th>Date_tache</th>
								<th>Datelimit_tache</th>
								<th>Etiquette_tache</th>
								<th>Etat_tache</th>
								<th>Info_tache</th>
								<th>Action</th>
								<th>Action</th>
							</tr>
							{foreach from=$taches item=obj}
								<tr>
								<td>{$obj["id_projet"]}</td>
								<td>{$obj["nom_tache"]}</td>
								<td>{$obj["ls_membre_tache"]}</td>
								<td>{$obj["date_tache"]}</td>
								<td>{$obj["datelimit_tache"]}</td>
								<td>{$obj["etiquette_tache"]}</td>
								<td>{$obj["etat_tache"]}</td>
								<td>{$obj["info_tache"]}</td>
									<td><a href="{$url_base}Tache/delete/id/{$obj["id"]}">Supprimer</a></td>
									<td><a href="{$url_base}Tache/edit/id/{$obj["id"]}"]}">Editer</a></td>
								</tr>
							{/foreach}
						</table>
					{else}
						Liste vide
					{/if}
				{/if}
					</div> 
				</div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

