

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Mouvement/index">Index Mouvement</a></li>
                        <li><a href="{$url_base}Mouvement/add">Ajout Mouvement</a></li>
                        <li><a href="{$url_base}Mouvement/getID/1">Get id Mouvement 1</a></li>
                        <li><a href="{$url_base}Mouvement/liste">Liste Mouvement </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Mouvement/update">
     <input class="form-control" type="hidden" name="idmv"  value="{if isset($mouvement)} {$mouvement['idmv']}{else}0{/if}"  id="idmv"  placeholder="idmv"   />



          <div class="form-group">

                        <label class="control-label">idu de mouvement</label>

     <input class="form-control" type="number" name="idu"  value="{if isset($mouvement)} {$mouvement['idu']}{else}0{/if}"  id="idu"  placeholder="idu"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nommv de mouvement</label>

     <input class="form-control" type="text" name="nommv"  value="{if isset($mouvement)} {$mouvement['nommv']}{else} {/if}"  id="nommv"  placeholder="nommv"   />

          </div>



          <div class="form-group">

                        <label class="control-label">date_del de mouvement</label>

     <input class="form-control" type="date" name="date_del"  value="{if isset($mouvement)} {$mouvement['date_del']}{else} {/if}"  id="date_del"  placeholder="date_del"   />

          </div>



          <div class="form-group">

                        <label class="control-label">objet de mouvement</label>

     <input class="form-control" type="text" name="objet"  value="{if isset($mouvement)} {$mouvement['objet']}{else} {/if}"  id="objet"  placeholder="objet"   />

          </div>



          <div class="form-group">

                        <label class="control-label">conten de mouvement</label>

     <textarea rows="5" name="conten"  id="conten" > {if isset($mouvement)} {$mouvement['conten']}{else} {/if} </textarea>

          </div>



          <div class="form-group">

                        <label class="control-label">totalht de mouvement</label>

     <input class="form-control" type="number" name="totalht"  value="{if isset($mouvement)} {$mouvement['totalht']}{else}0{/if}"  id="totalht"  placeholder="totalht"   />

          </div>



          <div class="form-group">

                        <label class="control-label">tva de mouvement</label>

     <input class="form-control" type="number" name="tva"  value="{if isset($mouvement)} {$mouvement['tva']}{else}0{/if}"  id="tva"  placeholder="tva"   />

          </div>



          <div class="form-group">

                        <label class="control-label">mtsch de mouvement</label>

     <input class="form-control" type="number" name="mtsch"  value="{if isset($mouvement)} {$mouvement['mtsch']}{else}0{/if}"  id="mtsch"  placeholder="mtsch"   />

          </div>



          <div class="form-group">

                        <label class="control-label">mtsltr de mouvement</label>

     <input class="form-control" type="text" name="mtsltr"  value="{if isset($mouvement)} {$mouvement['mtsltr']}{else} {/if}"  id="mtsltr"  placeholder="mtsltr"   />

          </div>



          <div class="form-group">

                        <label class="control-label">reg de mouvement</label>

     <input class="form-control" type="text" name="reg"  value="{if isset($mouvement)} {$mouvement['reg']}{else} {/if}"  id="reg"  placeholder="reg"   />

          </div>



          <div class="form-group">

                        <label class="control-label">avans de mouvement</label>

     <input class="form-control" type="number" name="avans"  value="{if isset($mouvement)} {$mouvement['avans']}{else}0{/if}"  id="avans"  placeholder="avans"   />

          </div>



          <div class="form-group">

                        <label class="control-label">reste de mouvement</label>

     <input class="form-control" type="number" name="reste"  value="{if isset($mouvement)} {$mouvement['reste']}{else}0{/if}"  id="reste"  placeholder="reste"   />

          </div>



          <div class="form-group">

                        <label class="control-label">cacher de mouvement</label>

     <input class="form-control" type="number" name="cacher"  value="{if isset($mouvement)} {$mouvement['cacher']}{else}0{/if}"  id="cacher"  placeholder="cacher"   />

          </div>



          <div class="form-group">

                        <label class="control-label">flag de mouvement</label>

     <input class="form-control" type="number" name="flag"  value="{if isset($mouvement)} {$mouvement['flag']}{else}0{/if}"  id="flag"  placeholder="flag"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Mouvement/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

