

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Service/index">Index Service</a></li>
                        <li><a href="{$url_base}Service/add">Ajout Service</a></li>
                        <li><a href="{$url_base}Service/getID/1">Get id Service 1</a></li>
                        <li><a href="{$url_base}Service/liste">Liste Service </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($services) && $services != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Service</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Nom_service</th>
                                 <th>Sigle_service</th>
                                 <th>Ninea_service</th>
                                 <th>Nrc_service</th>
                                 <th>Activitecommercial_service</th>
                                 <th>Ca_service</th>
                                 <th>Logo_service</th>
                                 <th>Theme_service</th>
                                 <th>Flag_service</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$services item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["nom_service"]}</td>
                                 <td>{$obj["sigle_service"]}</td>
                                 <td>{$obj["ninea_service"]}</td>
                                 <td>{$obj["nrc_service"]}</td>
                                 <td>{$obj["activitecommercial_service"]}</td>
                                 <td>{$obj["ca_service"]}</td>
                                 <td>{$obj["logo_service"]}</td>
                                 <td>{$obj["theme_service"]}</td>
                                 <td>{$obj["flag_service"]}</td>
                                    <td><a href="{$url_base}Service/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Service/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

