

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page add</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/index">Index Ligne_equipe_employee</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/add">Ajout Ligne_equipe_employee</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/getID/1">Get id Ligne_equipe_employee 1</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/liste">Liste Ligne_equipe_employee </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


				<div class="row">
					<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
               								{if isset($ok)}
               								{if $ok != 0}
                    								<div class="alert alert-success">Données ajoutées!</div>
               								{else}
                    								<div class="alert alert-danger">Erreur!</div>
               								{/if}
               								{/if}
                                      <form method="post" action="{$url_base}Ligne_equipe_employee/add">
                                        <div class="form-group">
                                                <label class="control-label">Liste de Employees </label>
                                       <select name="id_employee" class="form-control champ" >                                                <option selected disabled>--Choisir Employee --</option>
                                                {foreach from=$employees item=champ}
                                                <option value="{$champ['id']}">{$champ['id_contrat']}  </option>
                                               {/foreach}
                                       </select>
                                       </div>
                                        <div class="form-group">
                                                <label class="control-label">Liste de Equipes </label>
                                       <select name="id_equipe" class="form-control champ" >                                                <option selected disabled>--Choisir Equipe --</option>
                                                {foreach from=$equipes item=champ}
                                                <option value="{$champ['id']}">{$champ['id_service']}  </option>
                                               {/foreach}
                                       </select>
                                       </div>
                                        <div class="form-group">
                                                <label class="control-label">id_service de Ligne_equipe_employee</label>
                                                <input class="form-control" type="number" name="id_service" id="id_service"/>
                                       </div>
                                        <div class="form-group">
                                                <label class="control-label">maindoeuve_unitaire de Ligne_equipe_employee</label>
                                                <input class="form-control" type="number" name="maindoeuve_unitaire" id="maindoeuve_unitaire"/>
                                       </div>


                                              <div class="form-group">
                                                      <input class="btn btn-success" type="submit" name="valider" value="Envoyer"/>
                                                      <input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
                                              </div>

                                      </form>
					</div> 
				</div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

