

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/index">Index Ligne_equipe_employee</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/add">Ajout Ligne_equipe_employee</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/getID/1">Get id Ligne_equipe_employee 1</a></li>
                        <li><a href="{$url_base}Ligne_equipe_employee/liste">Liste Ligne_equipe_employee </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


				<div class="row">
					<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
				{if isset($ligne_equipe_employees)}
					{if $ligne_equipe_employees != null}
						<table class="table table-bordered table-stripped">
			                <caption  > LISTE DE Ligne_equipe_employee</caption>
							<tr>
								<th>Id_service</th>
								<th>Maindoeuve_unitaire</th>
								<th>Action</th>
								<th>Action</th>
							</tr>
							{foreach from=$ligne_equipe_employees item=obj}
								<tr>
								<td>{$obj["id_service"]}</td>
								<td>{$obj["maindoeuve_unitaire"]}</td>
									<td><a href="{$url_base}Ligne_equipe_employee/delete/{$obj["id_employee"]}/{$obj["id_equipe"]}">Supprimer</a></td>
									<td><a href="{$url_base}Ligne_equipe_employee/edit/{$obj["id_employee"]}/{$obj["id_equipe"]}"]}">Editer</a></td>
								</tr>
							{/foreach}
						</table>
					{else}
						Liste vide
					{/if}
				{/if}
					</div> 
				</div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

