

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Article/index">Index Article</a></li>
                        <li><a href="{$url_base}Article/add">Ajout Article</a></li>
                        <li><a href="{$url_base}Article/getID/1">Get id Article 1</a></li>
                        <li><a href="{$url_base}Article/liste">Liste Article </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($articles) && $articles != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Article</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Id_categorie</th>
                                 <th>Id_catalogue</th>
                                 <th>Type_article</th>
                                 <th>Fiche_technique</th>
                                 <th>Nbrstockage</th>
                                 <th>Tabidstock</th>
                                 <th>Valeur_article</th>
                                 <th>Flag_article</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$articles item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["id_categorie"]}</td>
                                 <td>{$obj["id_catalogue"]}</td>
                                 <td>{$obj["type_article"]}</td>
                                 <td>{$obj["fiche_technique"]}</td>
                                 <td>{$obj["nbrstockage"]}</td>
                                 <td>{$obj["tabidstock"]}</td>
                                 <td>{$obj["valeur_article"]}</td>
                                 <td>{$obj["flag_article"]}</td>
                                    <td><a href="{$url_base}Article/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Article/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

