

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}V_produit_cmp/index">Index V_produit_cmp</a></li>
                        <li><a href="{$url_base}V_produit_cmp/add">Ajout V_produit_cmp</a></li>
                        <li><a href="{$url_base}V_produit_cmp/getID/1">Get id V_produit_cmp 1</a></li>
                        <li><a href="{$url_base}V_produit_cmp/liste">Liste V_produit_cmp </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($v_produit_cmps) && $v_produit_cmps != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE V_produit_cmp</caption>

                  <thead>
                            <tr>
                                 <th>Idpcmp</th>
                                 <th>IDP</th>
                                 <th>Tabidp</th>
                                 <th>Tabqnt</th>
                                 <th>Tabmts</th>
                                 <th>Prv</th>
                                 <th>IDC</th>
                                 <th>ID_CAT</th>
                                 <th>DESI</th>
                                 <th>PHOTO</th>
                                 <th>PRIXA</th>
                                 <th>PRIXV</th>
                                 <th>QNT</th>
                                 <th>FTECH</th>
                                 <th>FLAG</th>
                                 <th>IDFA</th>
                                 <th>NOM_CAT</th>
                                 <th>ACHAT</th>
                                 <th>VENTE</th>
                                 <th>COMPT</th>
                                 <th>NOMF</th>
                                 <th>COLOR</th>
                                 <th>NOMC</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$v_produit_cmps item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["idpcmp"]}</td>
                                 <td>{$obj["idp"]}</td>
                                 <td>{$obj["tabidp"]}</td>
                                 <td>{$obj["tabqnt"]}</td>
                                 <td>{$obj["tabmts"]}</td>
                                 <td>{$obj["prv"]}</td>
                                 <td>{$obj["idc"]}</td>
                                 <td>{$obj["id_cat"]}</td>
                                 <td>{$obj["desi"]}</td>
                                 <td>{$obj["photo"]}</td>
                                 <td>{$obj["prixa"]}</td>
                                 <td>{$obj["prixv"]}</td>
                                 <td>{$obj["qnt"]}</td>
                                 <td>{$obj["ftech"]}</td>
                                 <td>{$obj["flag"]}</td>
                                 <td>{$obj["idfa"]}</td>
                                 <td>{$obj["nom_cat"]}</td>
                                 <td>{$obj["achat"]}</td>
                                 <td>{$obj["vente"]}</td>
                                 <td>{$obj["compt"]}</td>
                                 <td>{$obj["nomf"]}</td>
                                 <td>{$obj["color"]}</td>
                                 <td>{$obj["nomc"]}</td>
                                    <td><a href="{$url_base}V_produit_cmp/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}V_produit_cmp/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

