<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{$url_base}"> Mon Site Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li  class="active"><a href="{$url_base}SM_Admin/index">Accueil</a></li>
            <li><a href="{$url_base}SM_Admin/database/database">Base de Donnee</a></li>
            <li><a href="{$url_base}SM_Admin/controlleur/controlleur">Conrolleurs</a></li>
            <li><a href="{$url_base}SM_Admin/entite/entite">Entites</a></li>
            <li><a href="{$url_base}SM_Admin/modele/modele">Modeles</a></li>
            <li><a href="{$url_base}SM_Admin/vue/vue">Vues</a></li>
        </ul>
        <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle pull-right" />
    </div>
</nav>