

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Departement/index">Index Departement</a></li>
                        <li><a href="{$url_base}Departement/add">Ajout Departement</a></li>
                        <li><a href="{$url_base}Departement/getID/1">Get id Departement 1</a></li>
                        <li><a href="{$url_base}Departement/liste">Liste Departement </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


				<div class="row">
					<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
				{if isset($departements)}
					{if $departements != null}
						<table class="table table-bordered table-stripped">
			                <caption  > LISTE DE Departement</caption>
							<tr>
								<th>Id_service</th>
								<th>Nom_departement</th>
								<th>Nbr_employee</th>
								<th>Id_chefdepartement</th>
								<th>Info_departement</th>
								<th>Flag_departement</th>
								<th>Action</th>
								<th>Action</th>
							</tr>
							{foreach from=$departements item=obj}
								<tr>
								<td>{$obj["id_service"]}</td>
								<td>{$obj["nom_departement"]}</td>
								<td>{$obj["nbr_employee"]}</td>
								<td>{$obj["id_chefdepartement"]}</td>
								<td>{$obj["info_departement"]}</td>
								<td>{$obj["flag_departement"]}</td>
									<td><a href="{$url_base}Departement/delete/id/{$obj["id"]}">Supprimer</a></td>
									<td><a href="{$url_base}Departement/edit/id/{$obj["id"]}"]}">Editer</a></td>
								</tr>
							{/foreach}
						</table>
					{else}
						Liste vide
					{/if}
				{/if}
					</div> 
				</div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

