
<div class="table-responsive">


    {if isset($models)}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        {if $models != null}
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Path</th>

            <th><input type="checkbox" id="select_allctr"></th>
            <th>
                <span class="rows_selected" id="select_count">0 Selected</span>
                <a type="button" id="delete_records" class="btn btn-danger pull-right"><i class="fa fa-trash"></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$models item=db}
        <tr id="{$db['entname']}">
            <td>{$db['id']}</td>
            <td><a href="#">{$db['entname']}</a> </td>
            <td>{$db['entpath']}</td>
            <td><input type="checkbox" class="ctr_checkbox" data-emp-id="{$db['entname']}"></td>
            <td><a href="{$url_base}SM_Admin/delete_model/{$db['entname']}">Supprimer</a></td>
        </tr>
        {/foreach}
        {else}
        <tr>
            <th colspan="7">

                Liste vide

            </th>

        </tr>
        {/if}
        </tbody>
    </table>

   {else}
  RAS
    {/if}
</div>