

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Produit/index">Index Produit</a></li>
                        <li><a href="{$url_base}Produit/add">Ajout Produit</a></li>
                        <li><a href="{$url_base}Produit/getID/1">Get id Produit 1</a></li>
                        <li><a href="{$url_base}Produit/liste">Liste Produit </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Produit/update">
     <input class="form-control" type="hidden" name="idp"  value="{if isset($produit)} {$produit['idp']}{else}0{/if}"  id="idp"  placeholder="idp"   />



          <div class="form-group">

                        <label class="control-label">idc de produit</label>

         <select name="idc"  class="form-control champ" id="idc">   
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">id_cat de produit</label>

         <select name="id_cat"  class="form-control champ" id="id_cat">   
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">desi de produit</label>

     <input class="form-control" type="text" name="desi"  value="{if isset($produit)} {$produit['desi']}{else} {/if}"  id="desi"  placeholder="desi"   />

          </div>



          <div class="form-group">

                        <label class="control-label">photo de produit</label>

     <input class="form-control" type="file" name="photo"  value="{if isset($produit)} {$produit['photo']}{else} {/if}"  id="photo"  placeholder="photo"   />

          </div>



          <div class="form-group">

                        <label class="control-label">prixa de produit</label>

     <input class="form-control" type="number" name="prixa"  value="{if isset($produit)} {$produit['prixa']}{else}0{/if}"  id="prixa"  placeholder="prixa"   />

          </div>



          <div class="form-group">

                        <label class="control-label">prixv de produit</label>

     <input class="form-control" type="number" name="prixv"  value="{if isset($produit)} {$produit['prixv']}{else}0{/if}"  id="prixv"  placeholder="prixv"   />

          </div>



          <div class="form-group">

                        <label class="control-label">qnt de produit</label>

     <input class="form-control" type="number" name="qnt"  value="{if isset($produit)} {$produit['qnt']}{else}0{/if}"  id="qnt"  placeholder="qnt"   />

          </div>



          <div class="form-group">

                        <label class="control-label">composer de produit</label>

     <input class="form-control" type="number" name="composer"  value="{if isset($produit)} {$produit['composer']}{else}0{/if}"  id="composer"  placeholder="composer"   />

          </div>



          <div class="form-group">

                        <label class="control-label">ftech de produit</label>

     <textarea rows="5" name="ftech"  id="ftech" > {if isset($produit)} {$produit['ftech']}{else} {/if} </textarea>

          </div>



          <div class="form-group">

                        <label class="control-label">flag de produit</label>

     <input class="form-control" type="number" name="flag"  value="{if isset($produit)} {$produit['flag']}{else}0{/if}"  id="flag"  placeholder="flag"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Produit/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

