

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Membre_equipe/index">Index Membre_equipe</a></li>
                        <li><a href="{$url_base}Membre_equipe/add">Ajout Membre_equipe</a></li>
                        <li><a href="{$url_base}Membre_equipe/getID/1">Get id Membre_equipe 1</a></li>
                        <li><a href="{$url_base}Membre_equipe/liste">Liste Membre_equipe </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Membre_equipe/update">

          <div class="form-group">

                        <label class="control-label">id_membre de membre_equipe</label>

     <input class="form-control" type="number" name="id_membre"  value="{if isset($membre_equipe)} {$membre_equipe['id_membre']}{else}0{/if}"  id="id_membre"  placeholder="id_membre"   />

          </div>



          <div class="form-group">

                        <label class="control-label">id_equipe de membre_equipe</label>

     <input class="form-control" type="number" name="id_equipe"  value="{if isset($membre_equipe)} {$membre_equipe['id_equipe']}{else}0{/if}"  id="id_equipe"  placeholder="id_equipe"   />

          </div>



          <div class="form-group">

                        <label class="control-label">cout_maindoeuve_membre de membre_equipe</label>

     <input class="form-control" type="text" name="cout_maindoeuve_membre"  value="{if isset($membre_equipe)} {$membre_equipe['cout_maindoeuve_membre']}{else} {/if}"  id="cout_maindoeuve_membre"  placeholder="cout_maindoeuve_membre"   />

          </div>



          <div class="form-group">

                        <label class="control-label">info_membre de membre_equipe</label>

     <input class="form-control" type="text" name="info_membre"  value="{if isset($membre_equipe)} {$membre_equipe['info_membre']}{else} {/if}"  id="info_membre"  placeholder="info_membre"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Membre_equipe/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

