

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Fiche_de_presense/index">Index Fiche_de_presense</a></li>
                        <li><a href="{$url_base}Fiche_de_presense/add">Ajout Fiche_de_presense</a></li>
                        <li><a href="{$url_base}Fiche_de_presense/getID/1">Get id Fiche_de_presense 1</a></li>
                        <li><a href="{$url_base}Fiche_de_presense/liste">Liste Fiche_de_presense </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Fiche_de_presense/update">
     <input class="form-control" type="hidden" name="id"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['id']}{else}0{/if}"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">fiche_paie_id de fiche_de_presense</label>

         <select name="fiche_paie_id"  class="form-control champ" id="fiche_paie_id">   
          </select>

          </div>



          <div class="form-group">

                        <label class="control-label">anne_fiche de fiche_de_presense</label>

     <input class="form-control" type="date" name="anne_fiche"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['anne_fiche']}{else}0{/if}"  id="anne_fiche"  placeholder="anne_fiche"   />

          </div>



          <div class="form-group">

                        <label class="control-label">date_fiche de fiche_de_presense</label>

     <input class="form-control" type="date" name="date_fiche"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['date_fiche']}{else} {/if}"  id="date_fiche"  placeholder="date_fiche"   />

          </div>



          <div class="form-group">

                        <label class="control-label">objet_fiche de fiche_de_presense</label>

     <input class="form-control" type="text" name="objet_fiche"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['objet_fiche']}{else} {/if}"  id="objet_fiche"  placeholder="objet_fiche"   />

          </div>



          <div class="form-group">

                        <label class="control-label">heur_depart de fiche_de_presense</label>

     <input class="form-control" type="time" name="heur_depart"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['heur_depart']}{else} {/if}"  id="heur_depart"  placeholder="heur_depart"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nbr_heur de fiche_de_presense</label>

     <input class="form-control" type="time" name="nbr_heur"  value="{if isset($fiche_de_presense)} {$fiche_de_presense['nbr_heur']}{else}0{/if}"  id="nbr_heur"  placeholder="nbr_heur"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Fiche_de_presense/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

