

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Piece_jointe/index">Index Piece_jointe</a></li>
                        <li><a href="{$url_base}Piece_jointe/add">Ajout Piece_jointe</a></li>
                        <li><a href="{$url_base}Piece_jointe/getID/1">Get id Piece_jointe 1</a></li>
                        <li><a href="{$url_base}Piece_jointe/liste">Liste Piece_jointe </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($piece_jointes) && $piece_jointes != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Piece_jointe</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Nom_source</th>
                                 <th>File_path_piece_jointe</th>
                                 <th>Id_source</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$piece_jointes item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["nom_source"]}</td>
                                 <td>{$obj["file_path_piece_jointe"]}</td>
                                 <td>{$obj["id_source"]}</td>
                                    <td><a href="{$url_base}Piece_jointe/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Piece_jointe/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

