

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Payement/index">Index Payement</a></li>
                        <li><a href="{$url_base}Payement/add">Ajout Payement</a></li>
                        <li><a href="{$url_base}Payement/getID/1">Get id Payement 1</a></li>
                        <li><a href="{$url_base}Payement/liste">Liste Payement </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($payements) && $payements != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Payement</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Id_mouvement</th>
                                 <th>Type_payement</th>
                                 <th>Mts_payement</th>
                                 <th>Date_payement</th>
                                 <th>Detail_payement</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$payements item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["id_mouvement"]}</td>
                                 <td>{$obj["type_payement"]}</td>
                                 <td>{$obj["mts_payement"]}</td>
                                 <td>{$obj["date_payement"]}</td>
                                 <td>{$obj["detail_payement"]}</td>
                                    <td><a href="{$url_base}Payement/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Payement/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

