

<!DOCTYPE html>
<html lang="fr">

{include file='src/view/sm-sdmin/template/head.html'}
<body id="page-top">

<style>
	#latable table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#latable td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	#latable td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	#latable .successcol td {
		background-color: #2C2C2C;
		color: #FFFFFF;
	}

	#latable tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

{include file='src/view/sm-sdmin/template/navbar.html'}
<div id="wrapper">

	<!-- Sidebar -->
	{include file='src/view/sm-sdmin/template/menu.html'}

	<div id="content-wrapper">

		<div class="container-fluid">
			{include file='src/view/sm-sdmin/template/breadcrumbs.html'}
			<!-- Breadcrumbs -->


			{include file='src/view/sm-sdmin/database/delete.html'}
			<!-- Icon Cards-->
			{assign var="table" value=""}
			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="card-header">

					<nav class="nav nav-tabs">
						<a href="#tab1" data-toggle="tab" class="nav-item nav-link active">
							<i class="fa fa-list"></i> Liste des databases
						</a>
						<a data-toggle="tab" href="#tab2" class="nav-item nav-link">
							<i class="fa fa-plus"></i> Creer database
						</a>
						<a data-toggle="tab" href="#tab3" class="nav-item nav-link">
							<i class="fa fa-wrench"></i> Configurer database
						</a>
						<a data-toggle="tab" href="#tab4" class="nav-item nav-link">
							<i class="fa fa-retweet"></i> Restaurer database
						</a>

					</nav>
				</div>
				<div class="card-body">
					<div class="tab-content">
						<div class="tab-pane  active" id="tab1">
							{include file='src/view/sm-sdmin/database/list.html'}
						</div>
						<div class="tab-pane" id="tab2">
							{include file='src/view/sm-sdmin/database/add.html'}
						</div>
						<div class="tab-pane" id="tab3">
							{include file='src/view/sm-sdmin/database/config.html'}
						</div>

						<div class="tab-pane" id="tab4">
							{include file='src/view/sm-sdmin/database/restor.html'}
						</div>


					</div>
				</div>
			</div>



			<!-- DataTables Example -->


		</div>
		<!-- /.container-fluid -->

		<!-- Sticky Footer -->
		{include file='src/view/sm-sdmin/template/footer.html'}
	</div>
	<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
{include file='src/view/sm-sdmin/template/scrollbutton.html'}




<!-- script files-->
{include file='src/view/sm-sdmin/template/script.html'}

<script >

	function Deletedatabase(parent,dbname)
	{

		alert(dbname);

		parent.fadeOut('slow');
	}

	$(document).ready(function(){

		$('.delete_database').click(function(e){


			e.preventDefault();

			var dbname = $(this).attr('data-id');
			var parent = $(this).parent("td").parent("tr");
			alert(dbname);
			$('#dbname').val(dbname);
			$('#deletedbModal').modal('toggle');
			// $('#deletedbModal').modal('show');
			/* alert(parent);

             parent.fadeOut('slow');*/



		});
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});

	});
</script>

</body>

</html>
