

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page liste</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Mouvement/index">Index Mouvement</a></li>
                        <li><a href="{$url_base}Mouvement/add">Ajout Mouvement</a></li>
                        <li><a href="{$url_base}Mouvement/getID/1">Get id Mouvement 1</a></li>
                        <li><a href="{$url_base}Mouvement/liste">Liste Mouvement </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">



          {if isset($mouvements) && $mouvements != null}
        <div class="table-responsive">
        <table class="table table-striped">
                  <caption  > LISTE DE Mouvement</caption>

                  <thead>
                            <tr>
                                 <th>Id</th>
                                 <th>Id_service</th>
                                 <th>Id_type_mouvement</th>
                                 <th>Id_commercial</th>
                                 <th>Id_users</th>
                                 <th>Date_mouvement</th>
                                 <th>Object_mouvement</th>
                                 <th>Content_mouvement</th>
                                 <th>Total_ht_mouvement</th>
                                 <th>Tva_mouvement</th>
                                 <th>Totalttc_mouvement</th>
                                 <th>Totalltr_mouvement</th>
                                 <th>Avance_mouvement</th>
                                 <th>Reste_mouvement</th>
                                 <th>Flag_mouvement</th>
                            <td>Action</td>
                            <td>Action</td>
                            </tr>
                  </thead>

                  {foreach from=$mouvements item=obj}
                            <tr>
                  <tbody>
                                 <td>{$obj["id"]}</td>
                                 <td>{$obj["id_service"]}</td>
                                 <td>{$obj["id_type_mouvement"]}</td>
                                 <td>{$obj["id_commercial"]}</td>
                                 <td>{$obj["id_users"]}</td>
                                 <td>{$obj["date_mouvement"]}</td>
                                 <td>{$obj["object_mouvement"]}</td>
                                 <td>{$obj["content_mouvement"]}</td>
                                 <td>{$obj["total_ht_mouvement"]}</td>
                                 <td>{$obj["tva_mouvement"]}</td>
                                 <td>{$obj["totalttc_mouvement"]}</td>
                                 <td>{$obj["totalltr_mouvement"]}</td>
                                 <td>{$obj["avance_mouvement"]}</td>
                                 <td>{$obj["reste_mouvement"]}</td>
                                 <td>{$obj["flag_mouvement"]}</td>
                                    <td><a href="{$url_base}Mouvement/edit/{$obj['']}">Editer</a></td>
                                    <td><a href="{$url_base}Mouvement/delete/{$obj['']}">Supprimer</a></td>
                            </tr>
                  </tbody>
                         {/foreach}
                     </table>
                  </div>
                  {else}
                  Liste vide
         {/if}


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

