

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}V_categorie/index">Index V_categorie</a></li>
                        <li><a href="{$url_base}V_categorie/add">Ajout V_categorie</a></li>
                        <li><a href="{$url_base}V_categorie/getID/1">Get id V_categorie 1</a></li>
                        <li><a href="{$url_base}V_categorie/liste">Liste V_categorie </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}V_categorie/update">

          <div class="form-group">

                        <label class="control-label">id de v_categorie</label>

     <input class="form-control" type="number" name="id"  value="{if isset($v_categorie)} {$v_categorie['id']}{else}0{/if}"  id="id"  placeholder="id"   />

          </div>



          <div class="form-group">

                        <label class="control-label">id_famille de v_categorie</label>

     <input class="form-control" type="number" name="id_famille"  value="{if isset($v_categorie)} {$v_categorie['id_famille']}{else}0{/if}"  id="id_famille"  placeholder="id_famille"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_categorie de v_categorie</label>

     <input class="form-control" type="text" name="nom_categorie"  value="{if isset($v_categorie)} {$v_categorie['nom_categorie']}{else} {/if}"  id="nom_categorie"  placeholder="nom_categorie"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nbr_produit_categorie de v_categorie</label>

     <input class="form-control" type="number" name="nbr_produit_categorie"  value="{if isset($v_categorie)} {$v_categorie['nbr_produit_categorie']}{else}0{/if}"  id="nbr_produit_categorie"  placeholder="nbr_produit_categorie"   />

          </div>



          <div class="form-group">

                        <label class="control-label">valeur_categorie de v_categorie</label>

     <input class="form-control" type="number" name="valeur_categorie"  value="{if isset($v_categorie)} {$v_categorie['valeur_categorie']}{else}0{/if}"  id="valeur_categorie"  placeholder="valeur_categorie"   />

          </div>



          <div class="form-group">

                        <label class="control-label">id_nomenclature_article de v_categorie</label>

     <input class="form-control" type="number" name="id_nomenclature_article"  value="{if isset($v_categorie)} {$v_categorie['id_nomenclature_article']}{else}0{/if}"  id="id_nomenclature_article"  placeholder="id_nomenclature_article"   />

          </div>


                        <input class="form-control" type="hidden" name="flag_categorie"  value="{if isset($v_categorie)} {$v_categorie['flag_categorie']}{else}0{/if}"  id="flag_categorie"   placeholder="flag_categorie"   />



          <div class="form-group">

                        <label class="control-label">id_service de v_categorie</label>

     <input class="form-control" type="number" name="id_service"  value="{if isset($v_categorie)} {$v_categorie['id_service']}{else}0{/if}"  id="id_service"  placeholder="id_service"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_famille de v_categorie</label>

     <input class="form-control" type="text" name="nom_famille"  value="{if isset($v_categorie)} {$v_categorie['nom_famille']}{else} {/if}"  id="nom_famille"  placeholder="nom_famille"   />

          </div>



          <div class="form-group">

                        <label class="control-label">color_famille de v_categorie</label>

     <input class="form-control" type="color" name="color_famille"  value="{if isset($v_categorie)} {$v_categorie['color_famille']}{else} {/if}"  id="color_famille"  placeholder="color_famille"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nbr_categorie_famille de v_categorie</label>

     <input class="form-control" type="number" name="nbr_categorie_famille"  value="{if isset($v_categorie)} {$v_categorie['nbr_categorie_famille']}{else}0{/if}"  id="nbr_categorie_famille"  placeholder="nbr_categorie_famille"   />

          </div>



          <div class="form-group">

                        <label class="control-label">valeur_famille de v_categorie</label>

     <input class="form-control" type="number" name="valeur_famille"  value="{if isset($v_categorie)} {$v_categorie['valeur_famille']}{else}0{/if}"  id="valeur_famille"  placeholder="valeur_famille"   />

          </div>


                        <input class="form-control" type="hidden" name="flag_famille"  value="{if isset($v_categorie)} {$v_categorie['flag_famille']}{else}0{/if}"  id="flag_famille"   placeholder="flag_famille"   />



          <div class="form-group">

                        <label class="control-label">nom_service de v_categorie</label>

     <input class="form-control" type="text" name="nom_service"  value="{if isset($v_categorie)} {$v_categorie['nom_service']}{else} {/if}"  id="nom_service"  placeholder="nom_service"   />

          </div>



          <div class="form-group">

                        <label class="control-label">ref_nomenclature_article de v_categorie</label>

     <input class="form-control" type="text" name="ref_nomenclature_article"  value="{if isset($v_categorie)} {$v_categorie['ref_nomenclature_article']}{else} {/if}"  id="ref_nomenclature_article"  placeholder="ref_nomenclature_article"   />

          </div>



          <div class="form-group">

                        <label class="control-label">nom_nomenclature_article de v_categorie</label>

     <input class="form-control" type="text" name="nom_nomenclature_article"  value="{if isset($v_categorie)} {$v_categorie['nom_nomenclature_article']}{else} {/if}"  id="nom_nomenclature_article"  placeholder="nom_nomenclature_article"   />

          </div>



          <div class="form-group">

                        <label class="control-label">code_couleur de v_categorie</label>

     <input class="form-control" type="color" name="code_couleur"  value="{if isset($v_categorie)} {$v_categorie['code_couleur']}{else} {/if}"  id="code_couleur"  placeholder="code_couleur"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}V_categorie/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

