<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Samane mvc ui</title>
    <link rel="shortcut icon" href="{$url_base}public/image/logo.jpg" type="image/x-icon" />
    <link href="{$url_base}public/assets/template/tools/960.css" rel="stylesheet" type="text/css" />
    <link href="{$url_base}public/assets/template/tools/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{$url_base}public/assets/template/js/cufon-yui.js"></script>
    <script type="text/javascript" src="{$url_base}public/assets/template/js/Adobe_Caslon_Pro_600.font.js"></script>
    {literal}
    <script type="text/javascript">
        Cufon.replace('h1', {fontFamily: 'Adobe Caslon Pro', hover:true})
    </script>
    {/literal}
</head>
<body>
<div class="container_12" id="content">
    <a href="{$url_base}SM_Admin/index"> <h1>SamaneMVC  <img src="{$url_base}public/assets/template/images/ui.png" height="64" width="64" class="img-circle " /></h1> </a>
    <h3>Developpez en un click...</h3>
    <div class="main">
        <div class="mcontent">

            <div class="box mr20">
                <h2>
                    <a href="{$url_base}SM_Admin/index">
                    <div class="caption">
                        <p>Samane UI Manager</p>
                        <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                    </div>
                </a>
                </h2>

            </div>
            <div class="box mr20">

            <h2>Pierre Yem Mback</h2>
            <p>Phone : +221-77-567-21-79<br/>
                Email : <a href="#">dialrock360@gmail.com</a></p>
        </div>
            <div class="box2">
                <h4>MVC PAR Ngor SECK !</h4>


            </div>
        </div>
    </div>
</div>
</body>
</html>

