<tbody>
<tr>
    <td class="center"><input type="checkbox" class="checketed" ></td>

    <td>
        <a href="#">google.com</a>
    </td>
    <td class="hidden-xs">
        1 year domain registration
    </td>
    <td class="hidden-480">0 </td>
    <td class="hidden-480"> <span class="label label-sm label-danger">0%</span> </td>
    <td>$10</td>
</tr>

<tr>
    <td class="center"><input type="checkbox" class="checketed" ></td>

    <td>
        <a href="#">yahoo.com</a>
    </td>
    <td class="hidden-xs">
        5 year domain registration
    </td>
    <td class="hidden-480"> 5 </td>
    <td class="hidden-480"><span class="label label-sm label-warning">40%</span>   </td>
    <td>$45</td>
</tr>

<tr>
    <td class="center"><input type="checkbox" class="checketed" ></td>
    <td>Hosting</td>
    <td class="hidden-xs"> 1 year basic hosting </td>
    <td class="hidden-480"> 10 </td>
    <td class="hidden-480"> <span class="label label-sm label-danger">10%</span>   </td>
    <td>$90</td>
</tr>

<tr>
    <td class="center"><input type="checkbox" class="checketed" ></td>
    <td>Design</td>
    <td class="hidden-xs"> Theme customization </td>
    <td class="hidden-480"> 50  </td>
    <td class="hidden-480"> <span class="label label-sm label-success">50%</span>   </td>
    <td>$250</td>
</tr>
</tbody>

<!--{assign var="resrv" value=qnt*100/minqnt }-->