

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page index</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Notification/index">Index Notification</a></li>
                        <li><a href="{$url_base}Notification/add">Ajout Notification</a></li>
                        <li><a href="{$url_base}Notification/getID/1">Get id Notification 1</a></li>
                        <li><a href="{$url_base}Notification/liste">Liste Notification </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


				<div class="row">
					<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
						<div class="thumbnail">
                <img src="{$url_base}public/image/logo.jpg" alt="Lights" style="width:50%" />
								<div class="caption">
									<p>
									<div class="alert alert-success" style="font-size:18px; text-align:justify;">
										Merci, l'équipe samanemvc vous remercie :) :
										je vous ai préparé un CRUD qui marche, il suffit tout simplement d'importer
										la base de données qui se trouve dans le dossier src/view puis test (src/view/test);
										cette base s'appelle samane_test.sql et elle comporte une seule table nommée test.
										ça vous sera très utile j'espère.
										<br/>Et surtout noubliez pas de configurer votre base de données : ou? Dans le dossier config
										puis éditez le fichier database.php. Mettez à on l'etat de la base! Bon code!!!!  :)
									</div>
									MODELE DEVELOPPE PAR Ngor SECK !
									<br/>
									<h1>IT WORKS !!!! </h1>
									</p>
								</div>
							</a>
						</div>
					</div> 
				</div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

