

     <html>
          <head>
                 <meta charset="UTF-8">
                 <title>page edit</title>
                 <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
                 <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
                 <style>
                   h1{
                        color: #40007d;
                   }
                 </style>
          </head>
          <body>
                <div class="nav navbar navbar-default navbar-fixed-top">
                   <ul class="nav navbar-nav">
                        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                        <li><a href="{$url_base}/SM_Admin/home">Accueil</a></li>
                        <li><a href="{$url_base}Fiche_production/index">Index Fiche_production</a></li>
                        <li><a href="{$url_base}Fiche_production/add">Ajout Fiche_production</a></li>
                        <li><a href="{$url_base}Fiche_production/getID/1">Get id Fiche_production 1</a></li>
                        <li><a href="{$url_base}Fiche_production/liste">Liste Fiche_production </a></li>
                   </ul>
                   <div class="thumbnail pull-right">
                         <a href="{$url_base}SM_Admin/index">
                            <img src="{$url_base}public/image/logo.jpg" height="64" width="64" class="img-circle " />
                            <div class="caption">
                               <p>Samane UI Manager</p>
                            </div>
                        </a>
                   </div>
               </div>
               <div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:150px;">
                    <div class="panel panel-info">
                   	<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
                    		<div class="panel-body">


<div class="row">
<div class="col-md-10  col-xs-12 col-md-offset-1" style="margin-top:20px;">
{if isset($ok)}
{if $ok != 0}
<div class="alert alert-success">Données ajoutées!</div>
{else}<div class="alert alert-danger">Erreur!</div>
{/if}
{/if}
<form method="post" action="{$url_base}Fiche_production/update">
     <input class="form-control" type="hidden" name="id"  value="{if isset($fiche_production)} {$fiche_production['id']}{else}0{/if}"  id="id"  placeholder="id"   />



          <div class="form-group">

                        <label class="control-label">id_projet de fiche_production</label>

     <input class="form-control" type="number" name="id_projet"  value="{if isset($fiche_production)} {$fiche_production['id_projet']}{else}0{/if}"  id="id_projet"  placeholder="id_projet"   />

          </div>



          <div class="form-group">

                        <label class="control-label">date_fiche_production de fiche_production</label>

     <input class="form-control" type="date" name="date_fiche_production"  value="{if isset($fiche_production)} {$fiche_production['date_fiche_production']}{else} {/if}"  id="date_fiche_production"  placeholder="date_fiche_production"   />

          </div>



          <div class="form-group">

                        <label class="control-label">user_id de fiche_production</label>

     <input class="form-control" type="number" name="user_id"  value="{if isset($fiche_production)} {$fiche_production['user_id']}{else}0{/if}"  id="user_id"  placeholder="user_id"   />

          </div>



          <div class="form-group">

                        <label class="control-label">info_fiche_production de fiche_production</label>

     <input class="form-control" type="number" name="info_fiche_production"  value="{if isset($fiche_production)} {$fiche_production['info_fiche_production']}{else}0{/if}"  id="info_fiche_production"  placeholder="info_fiche_production"   />

          </div>

                  <div class="form-group">
                        <input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
                        <a class="btn btn-info" href="{$url_base}Fiche_production/liste">Retour</a>
                  </div>
                 </form>
            </div>
      </div>


                    		</div>
                   	</div>
                    </div>
              </div>
          </body>
       </html>

